<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center mb-4">
        Sistema de Gerenciamento de Tarefas
      </h1>
      <p class="lead text-center">
        Bem-vindo ao Sistema de gerenciamento de Tarefas!
        Esse Sistema foi projetado para cumprir a participação em aula.
      </p>
      <p>
        Sergio Perez é demitido da RedBull Racing e substituido por Carlos Sainz
      </p>
      <ul class="list-group">
        <li class="list-group-item"> Adicionar Noticias </li>
        <li class="list-group-item"> Vizualizar Noticias </li>
        <li class="list-group-item"> Atualizar Noticias </li>
        <li class="list-group-item"> Remover Noticias </li>
      </ul>
      <p class="text-center mt-4">
        Compre já seus ingressos para Interlagos 2025 (2024 ja esgotou)\
      </p>
    </div>
  </div>
</div>
